{% extends 'base.html.twig' %}
{% block title %}Deails of Import{% endblock %}
{% block body %}
	<a href="/home">Back To Home</a>
	<hr>
	<p> Please choose which type of report you would like to see</p>
	<hr>
	<a href="/project_report">Project Report</a><br>
	<a href="/outstandingdebt_report">Outstanding Debts Report</a>
{% endblock %}